.clock {
    /* background-color: green; */
    align-items: center;
}

.taskPomo {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  flex-direction: row;
  /* background-color: red; */

  /* height: 80vh; */
  /* align-items: center; */
  overflow-x: visible;
  overflow-y: scroll;
}
  
.taskPomo div {
  flex-shrink: 0;
  /* background: blue; */
  width: 49vw;
  height: 50%;

  text-align: center;
  align-items: center;
}