/* .tab button {
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: red;
    background-color: blueviolet;
} */

.pomodoro {
    align-content: center;
    align-items: center;
    /* background-color: black; */
    justify-content: center;

    /* This is the tabs */
}
